.main__block {
  display: flex;
  gap: 20px;
}

.main__img {
  width: 450px;
  height: 600px;
  display: block;
  object-fit: cover;
}

/* Кнопка закрытия */
.modal-close {
  position: absolute;
  top: 0;
  right: -45px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--header-bg);
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.modal-close:hover {
  transform: scale(1.1);
}

/* Контейнер формы */
.modal-content {
  background-color: var(--header-bg);
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 500px;
  position: relative;
}

/* Модальное окно */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px); /* Блюр фона */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
