@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  /* Light Theme Variables */
  --bg-color-light: #ffffff;
  --text-color-light: #333333;
  --accent-color-light: #007bff;
  --header-bg-light: #f8f9fa;

  /* Dark Theme Variables */
  --bg-color-dark: #1a1a1a;
  --text-color-dark: #f0f0f0;
  --accent-color-dark: #4da6ff;
  --header-bg-dark: #2d2d2d;
}

/* Applying the theme based on a data-theme attribute */
[data-theme="light"] {
  --bg-color: var(--bg-color-light);
  --text-color: var(--text-color-light);
  --accent-color: var(--accent-color-light);
  --header-bg: var(--header-bg-light);
}

[data-theme="dark"] {
  --bg-color: var(--bg-color-dark);
  --text-color: var(--text-color-dark);
  --accent-color: var(--accent-color-dark);
  --header-bg: var(--header-bg-dark);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
 font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Стили для защиты от копирования */
body.protection-enabled {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body.protection-enabled img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}